# nix-shell invocation with aarch64 as the build target (ensures cross compilers are installed):
# use nix --arg targetSystem '"aarch64-unknown-linux-gnu"'

# for native compilation:
# use nix

# flake version
use flake .#default
# use flake .#aarch64-unknown-linux-musl
