apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# Include these labels in the pod template, but don't include them in selectors,
# as they are supposed to be immutable!
labels:
  - includeTemplates: true
    pairs:
      app.kubernetes.io/version: f3b11af74d13e0fcd037aab7a2c6451ee1887a56
commonLabels:
  app.kubernetes.io/instance: argocd-appset-checked-pr-generator
  app.kubernetes.io/name: argocd-appset-checked-pr-generator
resources:
  - ../../base
namespace: argocd-appset-checked-pr-generator
images:
  - digest: sha256:822a33f7ea14aa3312639caa4b9270320fd5e438b5d93e3e21ef2c5e63d7b25e
    name: lhr.ocir.io/lrdyqp2xtoja/argocd-appset-checked-pr-generator
    newName: lhr.ocir.io/lrdyqp2xtoja/argocd-appset-checked-pr-generator:sha-f3b11af74d13e0fcd037aab7a2c6451ee1887a56
